# Package Imported

In [8]:
from pyecharts import Map
import pandas as pd
import operator
from functools import reduce
import numpy as np

# File 12-7 Water Conservancy Facilities and Area with Flood Prevention Measures by Region
We contruct several heatmap for each column

In [2]:
df1 = pd.read_csv(r'C:\Users\Jason\Desktop\MATH3710 Midterm\12.农　业\12-7 Water Conservancy Facilities and Area with Flood Prevention Measures by Region (2019).csv')
df1.head(5)

,Region,Number of Reservoirs (unit),Capacity of Reservoirs (100 million cum),Area with Flood Prevention Measures (10 000 hectares),Area with Soil Erosion under Control (10 000 hectares)
0,北京,86.0,52.1,12.0,901.6
1,天津,28.0,26.4,364.6,100.6
2,河北,1060.0,206.3,1638.3,5722.2
3,山西,613.0,69.8,89.3,7086.5
4,内蒙古,601.0,109.7,277.0,14625.0

In [3]:
df1.describe()

,Number of Reservoirs (unit),Capacity of Reservoirs (100 million cum),Area with Flood Prevention Measures (10 000 hectares),Area with Soil Erosion under Control (10 000 hectares)
count,30.000000,30.000000,29.000000,30.000000
mean,3270.400000,299.440000,845.858621,4577.486667
std,3610.963656,271.513408,1182.119262,3481.349198
min,28.000000,26.400000,0.800000,100.600000
25%,625.250000,105.425000,89.300000,2027.200000
50%,1342.500000,215.550000,307.100000,3900.800000
75%,5583.000000,442.200000,1034.000000,6220.425000
max,14047.000000,1263.800000,4451.100000,14625.000000

### Heatmap for Number of Reservoirs (unit)

In [4]:
data_Reservior = df1[['Region','Number of Reservoirs (unit)']]
data_Reservior.head()

  Region  Number of Reservoirs (unit)
0     北京                         86.0
1     天津                         28.0
2     河北                       1060.0
3     山西                        613.0
4    内蒙古                        601.0

In [5]:
attr_Reservior = data_Reservior[['Region']]
attr = attr_Reservior.values.tolist()
attr = reduce(operator.add, attr)
value_Reservior = data_Reservior[['Number of Reservoirs (unit)']]
value = value_Reservior.values.tolist()
value = reduce(operator.add, value)
# Normalize data to 1-100
Value = [(x - min(value))*100/(max(value) - min(value)) for x in value]
Value

[0.4137242314002425,
 0.0,
 7.361438048362936,
 4.172908196019687,
 4.087310079178258,
 5.385548184606606,
 11.070689778158213,
 6.740851701262573,
 nan,
 6.591054996790071,
 30.315999714672945,
 43.16998359369427,
 26.021827519794563,
 76.01826093159283,
 42.11427348598331,
 17.704543833368998,
 49.26884941864612,
 100.0,
 59.376560382338255,
 32.156359226763676,
 7.6824309865182965,
 21.791853912547257,
 58.43498109708253,
 17.141022897496256,
 48.08474213567302,
 0.670518581924531,
 7.653898280904487,
 2.560810328839432,
 1.2126399885869177,
 2.1328197446322847,
 4.522433839788858,
 nan,
 nan,
 nan]

In [6]:
map = Map("Number of Reservoirs", width=1200, height=600)
map.add("", attr, Value, maptype='china', is_visualmap=True, visual_text_color='#000')
map.show_config()
map.render()

{'_index_flag': 1014529,
 'backgroundColor': '#fff',
 'color': ['#c23531',
           '#2f4554',
           '#61a0a8',
           '#d48265',
           '#749f83',
           '#ca8622',
           '#bda29a',
           '#6e7074',
           '#546570',
           '#c4ccd3',
           '#f05b72',
           '#ef5b9c',
           '#f47920',
           '#905a3d',
           '#fab27b',
           '#2a5caa',
           '#444693',
           '#726930',
           '#b2d235',
           '#6d8346',
           '#ac6767',
           '#1d953f',
           '#6950a1',
           '#918597',
           '#f6f5ec'],
 'legend': [{'data': [''],
             'left': 'center',
             'orient': 'horizontal',
             'selectedMode': 'multiple',
             'show': True,
             'top': 'top'}],
 'series': [{'data': [{'name': '北京', 'value': 0.4137242314002425},
                      {'name': '天津', 'value': 0.0},
                      {'name': '河北', 'value': 7.361438048362936},
                      {'name': '山西', 'value': 4.172908196019687},
                      {'name': '内蒙古', 'value': 4.087310079178258},
                      {'name': '辽宁', 'value': 5.385548184606606},
                      {'name': '吉林', 'value': 11.070689778158213},
                      {'name': '黑龙江', 'value': 6.740851701262573},
                      {'name': '上海', 'value': nan},
                      {'name': '江苏', 'value': 6.591054996790071},
                      {'name': '浙江', 'value': 30.315999714672945},
                      {'name': '安徽', 'value': 43.16998359369427},
                      {'name': '福建', 'value': 26.021827519794563},
                      {'name': '山西', 'value': 76.01826093159283},
                      {'name': '山东', 'value': 42.11427348598331},
                      {'name': '河南', 'value': 17.704543833368998},
                      {'name': '湖北', 'value': 49.26884941864612},
                      {'name': '湖南', 'value': 100.0},
                      {'name': '广东', 'value': 59.376560382338255},
                      {'name': '广西', 'value': 32.156359226763676},
                      {'name': '海南', 'value': 7.6824309865182965},
                      {'name': '重庆', 'value': 21.791853912547257},
                      {'name': '四川', 'value': 58.43498109708253},
                      {'name': '贵州', 'value': 17.141022897496256},
                      {'name': '云南', 'value': 48.08474213567302},
                      {'name': '西藏', 'value': 0.670518581924531},
                      {'name': '陕西', 'value': 7.653898280904487},
                      {'name': '甘肃', 'value': 2.560810328839432},
                      {'name': '青海', 'value': 1.2126399885869177},
                      {'name': '宁夏', 'value': 2.1328197446322847},
                      {'name': '新疆', 'value': 4.522433839788858},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan}],
             'mapType': 'china',
             'name': '',
             'roam': True,
             'symbol': 'circle',
             'type': 'map'}],
 'title': [{'left': 'auto',
            'subtext': '',
            'subtextStyle': {'color': '#aaa', 'fontSize': 12},
            'text': 'Number of Reservoirs',
            'textStyle': {'color': '#000', 'fontSize': 18},
            'top': 'auto'}],
 'toolbox': {'feature': {'saveAsImage': {'show': True}},
             'left': 'right',
             'orient': 'vertical',
             'show': True,
             'top': 'center'},
 'tooltip': {},
 'visualMap': {'calculable': True,
               'inRange': {'color': ['#50a3ba', '#eac763', '#d94e5d']},
               'left': 'left',
               'max': 100,
               'min': 0,
               'orient': 'vertical',
               'text': ['high', 'low'],
               'textStyle': {'color': '#000'},
               'top': 'bottom',
               'type': 'continuous'}}

### Heatmap for Capacity of Reservoirs (100 million cum)

In [7]:
data_Capacity = df1[['Region','Capacity of Reservoirs (100 million cum)']]
attr_Capacity = data_Capacity[['Region']]
attr = attr_Capacity.values.tolist()
attr = reduce(operator.add, attr)
value_Capacity = data_Capacity[['Capacity of Reservoirs (100 million cum)']]
value = value_Capacity.values.tolist()
value = reduce(operator.add, value)
# Normalize data to 1-100
Value = [(x - min(value))*100/(max(value) - min(value)) for x in value]
map = Map("Capacity of Reservoirs", width=1200, height=600)
map.add("", attr, Value, maptype='china', is_visualmap=True, visual_text_color='#000')
map.show_config()
map.render()

{'_index_flag': 110755,
 'backgroundColor': '#fff',
 'color': ['#c23531',
           '#2f4554',
           '#61a0a8',
           '#d48265',
           '#749f83',
           '#ca8622',
           '#bda29a',
           '#6e7074',
           '#546570',
           '#c4ccd3',
           '#f05b72',
           '#ef5b9c',
           '#f47920',
           '#905a3d',
           '#fab27b',
           '#2a5caa',
           '#444693',
           '#726930',
           '#b2d235',
           '#6d8346',
           '#ac6767',
           '#1d953f',
           '#6950a1',
           '#918597',
           '#f6f5ec'],
 'legend': [{'data': [''],
             'left': 'center',
             'orient': 'horizontal',
             'selectedMode': 'multiple',
             'show': True,
             'top': 'top'}],
 'series': [{'data': [{'name': '北京', 'value': 2.076935509940198},
                      {'name': '天津', 'value': 0.0},
                      {'name': '河北', 'value': 14.538548569581382},
                      {'name': '山西', 'value': 3.507354129626637},
                      {'name': '内蒙古', 'value': 6.731857119767256},
                      {'name': '辽宁', 'value': 27.78406335865525},
                      {'name': '吉林', 'value': 24.882818813641514},
                      {'name': '黑龙江', 'value': 19.500565702278973},
                      {'name': '上海', 'value': nan},
                      {'name': '江苏', 'value': 0.7192500404073057},
                      {'name': '浙江', 'value': 33.8532406659124},
                      {'name': '安徽', 'value': 14.336512041377082},
                      {'name': '福建', 'value': 11.637304024567642},
                      {'name': '山西', 'value': 24.365605301438503},
                      {'name': '山东', 'value': 15.669953127525458},
                      {'name': '河南', 'value': 32.85113948601908},
                      {'name': '湖北', 'value': 100.0},
                      {'name': '湖南', 'value': 39.405204460966544},
                      {'name': '广东', 'value': 34.68563116211412},
                      {'name': '广西', 'value': 55.71359301761759},
                      {'name': '海南', 'value': 6.885404881202521},
                      {'name': '重庆', 'value': 8.097624050428317},
                      {'name': '四川', 'value': 40.148698884758375},
                      {'name': '贵州', 'value': 33.869403588168744},
                      {'name': '云南', 'value': 59.536124131242936},
                      {'name': '西藏', 'value': 0.9859382576369811},
                      {'name': '陕西', 'value': 5.4469048003879115},
                      {'name': '甘肃', 'value': 6.2712138354614515},
                      {'name': '青海', 'value': 23.45240019395507},
                      {'name': '宁夏', 'value': 0.11314045579440782},
                      {'name': '新疆', 'value': 14.90221432034912},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan}],
             'mapType': 'china',
             'name': '',
             'roam': True,
             'symbol': 'circle',
             'type': 'map'}],
 'title': [{'left': 'auto',
            'subtext': '',
            'subtextStyle': {'color': '#aaa', 'fontSize': 12},
            'text': 'Capacity of Reservoirs',
            'textStyle': {'color': '#000', 'fontSize': 18},
            'top': 'auto'}],
 'toolbox': {'feature': {'saveAsImage': {'show': True}},
             'left': 'right',
             'orient': 'vertical',
             'show': True,
             'top': 'center'},
 'tooltip': {},
 'visualMap': {'calculable': True,
               'inRange': {'color': ['#50a3ba', '#eac763', '#d94e5d']},
               'left': 'left',
               'max': 100,
               'min': 0,
               'orient': 'vertical',
               'text': ['high', 'low'],
               'textStyle': {'color': '#000'},
               'top': 'bottom',
               'type': 'continuous'}}

### Heatmap for Area with Flood Prevention Measures (10 000 hectares)

In [8]:
data_FloodPre = df1[['Region','Area with Flood Prevention Measures (10 000 hectares)']]
attr_FloodPre = data_FloodPre[['Region']]
attr = attr_FloodPre.values.tolist()
attr = reduce(operator.add, attr)
value_FloodPre = data_FloodPre[['Area with Flood Prevention Measures (10 000 hectares)']]
value = value_FloodPre.values.tolist()
value = reduce(operator.add, value)
# Normalize data to 1-100
Value = [(x - min(value))*100/(max(value) - min(value)) for x in value]
map = Map("Area with Flood Prevention Measures", width=1200, height=600)
map.add("", attr, Value, maptype='china', is_visualmap=True, visual_text_color='#000')
map.show_config()
map.render()

{'_index_flag': 239400,
 'backgroundColor': '#fff',
 'color': ['#c23531',
           '#2f4554',
           '#61a0a8',
           '#d48265',
           '#749f83',
           '#ca8622',
           '#bda29a',
           '#6e7074',
           '#546570',
           '#c4ccd3',
           '#f05b72',
           '#ef5b9c',
           '#f47920',
           '#905a3d',
           '#fab27b',
           '#2a5caa',
           '#444693',
           '#726930',
           '#b2d235',
           '#6d8346',
           '#ac6767',
           '#1d953f',
           '#6950a1',
           '#918597',
           '#f6f5ec'],
 'legend': [{'data': [''],
             'left': 'center',
             'orient': 'horizontal',
             'selectedMode': 'multiple',
             'show': True,
             'top': 'top'}],
 'series': [{'data': [{'name': '北京', 'value': 0.25166842684762825},
                      {'name': '天津', 'value': 8.174729793497066},
                      {'name': '河北', 'value': 36.795272228838506},
                      {'name': '山西', 'value': 1.988629980001348},
                      {'name': '内蒙古', 'value': 6.206323169224547},
                      {'name': '辽宁', 'value': 20.917690942183675},
                      {'name': '吉林', 'value': 23.216412376693704},
                      {'name': '黑龙江', 'value': 76.6240478170011},
                      {'name': '上海', 'value': 1.3572118733568526},
                      {'name': '江苏', 'value': 100.0},
                      {'name': '浙江', 'value': 12.511516077567805},
                      {'name': '安徽', 'value': 54.724400602206586},
                      {'name': '福建', 'value': 3.5166168572905194},
                      {'name': '山西', 'value': 9.756645619396444},
                      {'name': '山东', 'value': 69.41105094038603},
                      {'name': '河南', 'value': 48.27764420376154},
                      {'name': '湖北', 'value': 33.946026110599284},
                      {'name': '湖南', 'value': 9.898209109498236},
                      {'name': '广东', 'value': 12.15873087207604},
                      {'name': '广西', 'value': 5.305260319529021},
                      {'name': '海南', 'value': 0.5482776442037616},
                      {'name': '重庆', 'value': nan},
                      {'name': '四川', 'value': 2.2335572882727006},
                      {'name': '贵州', 'value': 2.7953171696290138},
                      {'name': '云南', 'value': 6.882682066377547},
                      {'name': '西藏', 'value': 0.058423027661056545},
                      {'name': '陕西', 'value': 2.3054625530863087},
                      {'name': '甘肃', 'value': 0.3235736916612363},
                      {'name': '青海', 'value': 0.0},
                      {'name': '宁夏', 'value': nan},
                      {'name': '新疆', 'value': 0.48985461654270496},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan}],
             'mapType': 'china',
             'name': '',
             'roam': True,
             'symbol': 'circle',
             'type': 'map'}],
 'title': [{'left': 'auto',
            'subtext': '',
            'subtextStyle': {'color': '#aaa', 'fontSize': 12},
            'text': 'Area with Flood Prevention Measures',
            'textStyle': {'color': '#000', 'fontSize': 18},
            'top': 'auto'}],
 'toolbox': {'feature': {'saveAsImage': {'show': True}},
             'left': 'right',
             'orient': 'vertical',
             'show': True,
             'top': 'center'},
 'tooltip': {},
 'visualMap': {'calculable': True,
               'inRange': {'color': ['#50a3ba', '#eac763', '#d94e5d']},
               'left': 'left',
               'max': 100,
               'min': 0,
               'orient': 'vertical',
               'text': ['high', 'low'],
               'textStyle': {'color': '#000'},
               'top': 'bottom',
               'type': 'continuous'}}

### Area with Soil Erosion under Control (10 000 hectares)

In [9]:
data_SoilEro = df1[['Region','Area with Soil Erosion under Control (10 000 hectares)']]
attr_SoilEro = data_SoilEro[['Region']]
attr = attr_SoilEro.values.tolist()
attr = reduce(operator.add, attr)
value_SoilEro = data_SoilEro[['Area with Soil Erosion under Control (10 000 hectares)']]
value = value_SoilEro.values.tolist()
value = reduce(operator.add, value)
# Normalize data to 1-100
Value = [(x - min(value))*100/(max(value) - min(value)) for x in value]
map = Map("Area with Soil Erosion under Control", width=1200, height=600)
map.add("", attr, Value, maptype='china', is_visualmap=True, visual_text_color='#000')
map.show_config()
map.render()

{'_index_flag': 134492,
 'backgroundColor': '#fff',
 'color': ['#c23531',
           '#2f4554',
           '#61a0a8',
           '#d48265',
           '#749f83',
           '#ca8622',
           '#bda29a',
           '#6e7074',
           '#546570',
           '#c4ccd3',
           '#f05b72',
           '#ef5b9c',
           '#f47920',
           '#905a3d',
           '#fab27b',
           '#2a5caa',
           '#444693',
           '#726930',
           '#b2d235',
           '#6d8346',
           '#ac6767',
           '#1d953f',
           '#6950a1',
           '#918597',
           '#f6f5ec'],
 'legend': [{'data': [''],
             'left': 'center',
             'orient': 'horizontal',
             'selectedMode': 'multiple',
             'show': True,
             'top': 'top'}],
 'series': [{'data': [{'name': '北京', 'value': 5.514857756602683},
                      {'name': '天津', 'value': 0.0},
                      {'name': '河北', 'value': 38.704524799647494},
                      {'name': '山西', 'value': 48.09768389744155},
                      {'name': '内蒙古', 'value': 100.0},
                      {'name': '辽宁', 'value': 37.54234254082784},
                      {'name': '吉林', 'value': 17.169728181542787},
                      {'name': '黑龙江', 'value': 36.03246949960067},
                      {'name': '上海', 'value': nan},
                      {'name': '江苏', 'value': 5.781994436947482},
                      {'name': '浙江', 'value': 24.17173859161136},
                      {'name': '安徽', 'value': 13.65908402412492},
                      {'name': '福建', 'value': 26.13051141527361},
                      {'name': '山西', 'value': 41.10255845336124},
                      {'name': '山东', 'value': 28.758502932995512},
                      {'name': '河南', 'value': 26.250998320068298},
                      {'name': '湖北', 'value': 42.47886315441601},
                      {'name': '湖南', 'value': 26.197984081958637},
                      {'name': '广东', 'value': 12.100327724381042},
                      {'name': '广西', 'value': 18.898543141196882},
                      {'name': '海南', 'value': 0.24923576877530237},
                      {'name': '重庆', 'value': 24.936658312907934},
                      {'name': '四川', 'value': 71.34890253642148},
                      {'name': '贵州', 'value': 49.7149624080857},
                      {'name': '云南', 'value': 68.4854451819008},
                      {'name': '西藏', 'value': 3.5939522458759057},
                      {'name': '陕西', 'value': 54.66112197405745},
                      {'name': '甘肃', 'value': 65.22885626945003},
                      {'name': '青海', 'value': 9.002093029660434},
                      {'name': '宁夏', 'value': 15.749359698163092},
                      {'name': '新疆', 'value': 13.133072622621244},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan},
                      {'name': nan, 'value': nan}],
             'mapType': 'china',
             'name': '',
             'roam': True,
             'symbol': 'circle',
             'type': 'map'}],
 'title': [{'left': 'auto',
            'subtext': '',
            'subtextStyle': {'color': '#aaa', 'fontSize': 12},
            'text': 'Area with Soil Erosion under Control',
            'textStyle': {'color': '#000', 'fontSize': 18},
            'top': 'auto'}],
 'toolbox': {'feature': {'saveAsImage': {'show': True}},
             'left': 'right',
             'orient': 'vertical',
             'show': True,
             'top': 'center'},
 'tooltip': {},
 'visualMap': {'calculable': True,
               'inRange': {'color': ['#50a3ba', '#eac763', '#d94e5d']},
               'left': 'left',
               'max': 100,
               'min': 0,
               'orient': 'vertical',
               'text': ['high', 'low'],
               'textStyle': {'color': '#000'},
               'top': 'bottom',
               'type': 'continuous'}}

# Heatmap for Another file

In [10]:
df2 = pd.read_csv(r'C:\Users\Jason\Desktop\MATH3710 Midterm\12.农　业\12-3 Gross Output Value of Agriculture, Forestry, Animal Husbandry (Region).csv')
df2.head(5)

,Region,Region_CN,Gross Output Value(100 million yuan),Farming,Forestry,Animal Husbandry,Fishery,Indices of Gross Output (preceding year=100),Farming.1,Forestry.1,Animal Husbandry.1,Fishery.1
0,Beijing,北京,281.7,102.3,115.6,49.3,5.3,93.7,89.2,121.6,63.5,86.2
1,Tianjin,天津,414.4,202.9,24.9,100.4,71.4,100.6,103.2,195.8,83.5,97.9
2,Hebei,河北,6061.5,3114.9,231.4,2035.4,212.5,101.9,101.7,104.8,100.4,100.6
3,Shanxi,山西,1626.5,936.8,101.3,478.6,6.9,102.0,102.5,102.2,100.7,100.2
4,Neimenggu,内蒙古,3176.3,1606.3,100.9,1390.5,27.8,102.1,103.4,101.0,100.9,93.3

In [11]:
df2 = df2[['Region_CN','Indices of Gross Output (preceding year=100)', 
                                 'Farming.1', 'Forestry.1', 'Animal Husbandry.1', 'Fishery.1']] # Choose certain columns
df2.head(5)

,Region_CN,Indices of Gross Output (preceding year=100),Farming.1,Forestry.1,Animal Husbandry.1,Fishery.1
0,北京,93.7,89.2,121.6,63.5,86.2
1,天津,100.6,103.2,195.8,83.5,97.9
2,河北,101.9,101.7,104.8,100.4,100.6
3,山西,102.0,102.5,102.2,100.7,100.2
4,内蒙古,102.1,103.4,101.0,100.9,93.3

In [12]:
import math
def get_average(records):
    return sum(records) / len(records)
def get_variance(records):
    average = get_average(records)
    return sum([(x - average) ** 2 for x in records]) / len(records)
def get_standard_deviation(records):
    variance = get_variance(records)
    return math.sqrt(variance)
def get_z_score(records):
    avg = get_average(records)
    stan = get_standard_deviation(records)
    scores = [(i-avg)*100/stan for i in records]
    return scores

Forestry

In [25]:
df2.iloc[3,1] = 180
data_Capacity = df2[['Region_CN','Forestry.1']]
attr_Capacity = data_Capacity[['Region_CN']]
attr = attr_Capacity.values.tolist()
attr = reduce(operator.add, attr)
value_Capacity = data_Capacity[['Forestry.1']]
value = value_Capacity.values.tolist()
value = reduce(operator.add, value)
# Normalize data to 1-100
Value = get_z_score(value)
# Value = [(x - min(value))*100/(max(value) - min(value)) for x in value]
map = Map("Forestry", width=1200, height=600)
map.add("", attr, Value, maptype='china', is_visualmap=True, visual_text_color='#000')
map.show_config()
map.render()

{'_index_flag': 1478695,
 'backgroundColor': '#fff',
 'color': ['#c23531',
           '#2f4554',
           '#61a0a8',
           '#d48265',
           '#749f83',
           '#ca8622',
           '#bda29a',
           '#6e7074',
           '#546570',
           '#c4ccd3',
           '#f05b72',
           '#ef5b9c',
           '#f47920',
           '#905a3d',
           '#fab27b',
           '#2a5caa',
           '#444693',
           '#726930',
           '#b2d235',
           '#6d8346',
           '#ac6767',
           '#1d953f',
           '#6950a1',
           '#918597',
           '#f6f5ec'],
 'legend': [{'data': [''],
             'left': 'center',
             'orient': 'horizontal',
             'selectedMode': 'multiple',
             'show': True,
             'top': 'top'}],
 'series': [{'data': [{'name': '北京', 'value': 74.93968024412216},
                      {'name': '天津', 'value': 507.82831032330415},
                      {'name': '河北', 'value': -23.07283977380578},
                      {'name': '山西', 'value': -38.24144406229459},
                      {'name': '内蒙古', 'value': -45.24233834928947},
                      {'name': '辽宁', 'value': -136.83737193747217},
                      {'name': '吉林', 'value': -83.16384907051159},
                      {'name': '黑龙江', 'value': -21.32261620205708},
                      {'name': '上海', 'value': 15.43207880466597},
                      {'name': '江苏', 'value': -20.73920834480746},
                      {'name': '浙江', 'value': -37.658036205045065},
                      {'name': '安徽', 'value': -25.989879060053635},
                      {'name': '福建', 'value': -27.156694774552793},
                      {'name': '江西', 'value': -21.32261620205708},
                      {'name': '山东', 'value': 2.597105945175387},
                      {'name': '河南', 'value': -16.655353344060444},
                      {'name': '湖北', 'value': 5.514145231423242},
                      {'name': '湖南', 'value': 4.347329516924084},
                      {'name': '广东', 'value': -21.32261620205708},
                      {'name': '广西', 'value': -8.487643342566498},
                      {'name': '海南', 'value': -20.155800487557922},
                      {'name': '重庆', 'value': 11.931631661168492},
                      {'name': '四川', 'value': -38.824851919544216},
                      {'name': '贵州', 'value': -4.403788341819484},
                      {'name': '云南', 'value': -41.74189120579207},
                      {'name': '西藏', 'value': 3.763921659674546},
                      {'name': '陕西', 'value': -8.487643342566498},
                      {'name': '甘肃', 'value': 3.763921659674546},
                      {'name': '青海', 'value': -3.820380484569946},
                      {'name': '宁夏', 'value': 68.52219381437692},
                      {'name': '新疆', 'value': -53.99345620803303}],
             'mapType': 'china',
             'name': '',
             'roam': True,
             'symbol': 'circle',
             'type': 'map'}],
 'title': [{'left': 'auto',
            'subtext': '',
            'subtextStyle': {'color': '#aaa', 'fontSize': 12},
            'text': 'Forestry',
            'textStyle': {'color': '#000', 'fontSize': 18},
            'top': 'auto'}],
 'toolbox': {'feature': {'saveAsImage': {'show': True}},
             'left': 'right',
             'orient': 'vertical',
             'show': True,
             'top': 'center'},
 'tooltip': {},
 'visualMap': {'calculable': True,
               'inRange': {'color': ['#50a3ba', '#eac763', '#d94e5d']},
               'left': 'left',
               'max': 100,
               'min': 0,
               'orient': 'vertical',
               'text': ['high', 'low'],
               'textStyle': {'color': '#000'},
               'top': 'bottom',
               'type': 'continuous'}}

# Radar charts comparing six regions

In [27]:
df_original = pd.read_csv(r'C:\Users\Jason\Desktop\MATH3710 Midterm\12.农　业\12-3 Gross Output Value of Agriculture, Forestry, Animal Husbandry (Region).csv')
df_original.head(5)

,Region,Region_CN,Gross Output Value(100 million yuan),Farming,Forestry,Animal Husbandry,Fishery,Indices of Gross Output (preceding year=100),Farming.1,Forestry.1,Animal Husbandry.1,Fishery.1
0,Beijing,北京,281.7,102.3,115.6,49.3,5.3,93.7,89.2,121.6,63.5,86.2
1,Tianjin,天津,414.4,202.9,24.9,100.4,71.4,100.6,103.2,195.8,83.5,97.9
2,Hebei,河北,6061.5,3114.9,231.4,2035.4,212.5,101.9,101.7,104.8,100.4,100.6
3,Shanxi,山西,1626.5,936.8,101.3,478.6,6.9,102.0,102.5,102.2,100.7,100.2
4,Neimenggu,内蒙古,3176.3,1606.3,100.9,1390.5,27.8,102.1,103.4,101.0,100.9,93.3

In [28]:
# Classes_Mapping
region_mapping = {  
            'Beijing': 1,
            'Tianjin': 1,
            'Hebei': 1,
            'Shanxi': 1,
            'Neimenggu': 1,   
            'Liaoning': 2,
            'Jilin': 2,
            'Heilongjiang': 2,  
            'Shanghai': 3,
            'Jiangsu': 3,
            'Zhejiang': 3,
            'Anhui': 3,
            'Fujian': 3,
            'Jiangxi': 3,
            'Shandong': 3,
            'Henan': 4,
            'Hubei': 4,
            'Hunan': 4,
            'Guangxi': 4, 
            'Guangdong': 4, 
            'Hainan': 4,
            'Chongqin': 5,
            'Sichuan': 5,
            'Guizhou': 5,
            'Yunnan': 5,
            'Xizang': 5,
            'Shanxi_': 6,
            'Gansu': 6,
            'Qinghai': 6,
            'Ningxia': 6,
            'Xinjiang': 6}  
df_original['Region'] = df_original['Region'].map(region_mapping)
df_original.head(3)

,Region,Region_CN,Gross Output Value(100 million yuan),Farming,Forestry,Animal Husbandry,Fishery,Indices of Gross Output (preceding year=100),Farming.1,Forestry.1,Animal Husbandry.1,Fishery.1
0,1,北京,281.7,102.3,115.6,49.3,5.3,93.7,89.2,121.6,63.5,86.2
1,1,天津,414.4,202.9,24.9,100.4,71.4,100.6,103.2,195.8,83.5,97.9
2,1,河北,6061.5,3114.9,231.4,2035.4,212.5,101.9,101.7,104.8,100.4,100.6

In [34]:
df_original = df_original[['Region','Farming.1', 'Forestry.1', 'Animal Husbandry.1', 'Fishery.1']] # Choose certain columns
df_original.head(6)

   Region  Farming.1  Forestry.1  Animal Husbandry.1  Fishery.1
0       1       89.2       121.6                63.5       86.2
1       1      103.2       195.8                83.5       97.9
2       1      101.7       104.8               100.4      100.6
3       1      102.5       102.2               100.7      100.2
4       1      103.4       101.0               100.9       93.3
5       2      105.6        85.3               101.4      104.5

Calculate average

In [91]:
Farming1_mean = 0
for i in range(len(df_original)):
    if df_original.iloc[i,0] == 6:
        Farming1_mean = df_original.iloc[i,4] + Farming1_mean

In [92]:
Farming1_mean

502.70000000000005

In [93]:
from pyecharts import Radar

schema = [
    ("North", 750), ("Northeast", 750), ("East", 750), ("Central South", 750), ("Southwest", 750), ("Northwest", 750)]
v1 = [[500, 313.6, 712, 631.4, 534.7, 526.4]]
v2 = [[625.4, 284.9, 741.6, 642.8, 531.9, 544.8]]
# v1 = [[449.0, 302.8, 662.2, 574.8, 499.7, 506.2]]
# v2 = [[478.2, 311.1, 707.7, 634.2, 520.8, 502.7]]
radar = Radar()
radar.config(schema)
radar.add("Animal Husbandry", v1, is_splitline=True, is_axisline_show=True)
radar.add("Forestry", v2, label_color=["#4e79a7"], is_area_show=False)
radar.render()

# Bar chart

In [98]:
from pyecharts import Bar

attr = ["North", "Northeast", "East", "Central South", "Southwest", "Northwest"]
v1 = [449.0, 302.8, 662.2, 574.8, 499.7, 506.2]
v2 = [478.2, 311.1, 707.7, 634.2, 520.8, 502.7]
v3 = [500, 313.6, 712, 631.4, 534.7, 526.4]
v4 = [625.4, 284.9, 741.6, 642.8, 531.9, 544.8]
bar = Bar("Gross")
bar.add("Animal Husbandry", attr, v1, is_stack=True)
bar.add("Fishery", attr, v2, is_stack=True)
bar.add("Farming", attr, v1, is_stack=True)
bar.add("Forestry", attr, v1, is_stack=True)
bar.render()

# Double Historgram

In [104]:
df_original = pd.read_csv(r'C:\Users\Jason\Desktop\MATH3710 Midterm\12.农　业\12-3 Gross Output Value of Agriculture, Forestry, Animal Husbandry (Year).csv')
df_original.head(5)

,Year,Gross Output Value(100 million yuan),Farming,Forestry,Animal Husbandry,Fishery,Indices of Gross Output (preceding year=100),Farming.1,Forestry.1,Animal Husbandry.1,Fishery.1
0,2005,39450.9,19613.4,1425.5,13310.8,4016.1,105.7,104.1,103.2,107.8,106.5
1,2006,40810.8,21522.3,1610.8,12083.9,3970.5,105.4,105.4,105.6,105.0,106.0
2,2007,48651.8,24444.7,1889.9,16068.6,4427.9,103.9,103.7,109.8,103.2,104.0
3,2008,57420.8,27679.9,2180.3,20354.2,5137.5,105.6,104.6,108.0,106.7,105.8
4,2009,59311.3,29983.8,2324.4,19184.6,5514.7,104.6,103.4,106.7,105.5,105.6

In [105]:
df_original = df_original[['Year','Farming', 'Forestry', 'Animal Husbandry', 'Fishery']] # Choose certain columns
df_original.head(6)

   Year  Farming  Forestry  Animal Husbandry  Fishery
0  2005  19613.4    1425.5           13310.8   4016.1
1  2006  21522.3    1610.8           12083.9   3970.5
2  2007  24444.7    1889.9           16068.6   4427.9
3  2008  27679.9    2180.3           20354.2   5137.5
4  2009  29983.8    2324.4           19184.6   5514.7
5  2010  35909.1    2575.0           20461.1   6263.4

In [109]:
from pyecharts import Bar

# attr = ["{}月".format(i) for i in range(1, 13)]
# v1 = [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
# v2 = [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
attr = df_original['Year']
v1 = df_original['Farming']
v2 = df_original['Forestry']
v3 = df_original['Animal Husbandry']
v4 = df_original['Fishery']
bar = Bar("Four Industry")
bar.add("Farming", attr, v1, mark_line=["average"], mark_point=["max", "min"])
bar.add("Forestry", attr, v2, mark_line=["average"], mark_point=["max", "min"])
bar.add("Animal Husbandry", attr, v3, mark_line=["average"], mark_point=["max", "min"])
bar.add("Fishery", attr, v4, mark_line=["average"], mark_point=["max", "min"])
bar.render()

# Pie Charts

In [112]:
from pyecharts import Pie

attr = ["North", "Northeast", "East", "Central South", "Southwest", "Northwest"]
v1 = [2052.6, 1212.4, 2823.5, 2483.2, 2087.1, 2080.1]
pie = Pie("Distrubution", title_pos='center')
pie.add("", attr, v1, radius=[40, 75], label_text_color=None, is_label_show=True,
        legend_orient='vertical', legend_pos='left')
pie.render()

# File 12-8 Sown Area od Farm Crops (Region).csv

In [19]:
df1 = pd.read_csv(r'C:\Users\Jason\Desktop\MATH3710 Midterm\M3710_Midterm_Project\12-8 Sown Area od Farm Crops (Region).csv')
df1.head(5)

,Region,Region_CN,Total Sown Area,Sown Area of Grain Crops,Cotton,Oil-bearing Crops,Fiber Crops,Sugar Crops,Tobacco,Vegetables,Tea Plantations,Orchards
0,Beijing,北 京,88.6,46.5,0.0,1.2,NaN,NaN,0.0,30.1,NaN,43.8
1,Tianjin,天 津,410.3,339.3,14.1,1.1,NaN,NaN,NaN,48.3,NaN,26.6
2,Hebei,河 北,8132.7,6469.2,203.9,364.5,0.0,12.4,1.4,794.6,0.0,506.0
3,Shanxi,山 西,3524.4,3126.2,2.3,99.8,0.1,0.0,1.3,180.4,0.2,374.9
4,Neimenggu,内蒙古,8885.0,6827.5,0.1,930.9,1.2,127.4,1.1,200.5,NaN,97.5

In [20]:
df1.isnull().sum()

Region                      0
Region_CN                   0
Total Sown Area             0
Sown Area of Grain Crops    0
Cotton                      8
Oil-bearing Crops           0
Fiber Crops                 6
Sugar Crops                 4
Tobacco                     5
Vegetables                  0
Tea Plantations             9
Orchards                    0
dtype: int64

In [21]:
df1['Cotton'] = df1['Cotton'].replace({np.NaN:0})
df1['Fiber Crops'] = df1['Fiber Crops'].replace({np.NaN:0})
df1['Sugar Crops'] = df1['Sugar Crops'].replace({np.NaN:0})
df1['Tobacco'] = df1['Tobacco'].replace({np.NaN:0})
df1['Tea Plantations'] = df1['Tea Plantations'].replace({np.NaN:0})
df1.isnull().sum()

Region                      0
Region_CN                   0
Total Sown Area             0
Sown Area of Grain Crops    0
Cotton                      0
Oil-bearing Crops           0
Fiber Crops                 0
Sugar Crops                 0
Tobacco                     0
Vegetables                  0
Tea Plantations             0
Orchards                    0
dtype: int64

In [22]:
# Classes_Mapping
region_mapping = {  
            'Beijing': 1,
            'Tianjin': 1,
            'Hebei': 1,
            'Shanxi': 1,
            'Neimenggu': 1,   
            'Liaoning': 2,
            'Jilin': 2,
            'Heilongjiang': 2,  
            'Shanghai': 3,
            'Jiangsu': 3,
            'Zhejiang': 3,
            'Anhui': 3,
            'Fujian': 3,
            'Jiangxi': 3,
            'Shandong': 3,
            'Henan': 4,
            'Hubei': 4,
            'Hunan': 4,
            'Guangxi': 4, 
            'Guangdong': 4, 
            'Hainan': 4,
            'Chongqin': 5,
            'Sichuan': 5,
            'Guizhou': 5,
            'Yunnan': 5,
            'Xizang': 5,
            'Shanxi_': 6,
            'Gansu': 6,
            'Qinghai': 6,
            'Ningxia': 6,
            'Xinjiang': 6}  
df1['Region'] = df1['Region'].map(region_mapping)
df1.head(5)

,Region,Region_CN,Total Sown Area,Sown Area of Grain Crops,Cotton,Oil-bearing Crops,Fiber Crops,Sugar Crops,Tobacco,Vegetables,Tea Plantations,Orchards
0,1,北 京,88.6,46.5,0.0,1.2,0.0,0.0,0.0,30.1,0.0,43.8
1,1,天 津,410.3,339.3,14.1,1.1,0.0,0.0,0.0,48.3,0.0,26.6
2,1,河 北,8132.7,6469.2,203.9,364.5,0.0,12.4,1.4,794.6,0.0,506.0
3,1,山 西,3524.4,3126.2,2.3,99.8,0.1,0.0,1.3,180.4,0.2,374.9
4,1,内蒙古,8885.0,6827.5,0.1,930.9,1.2,127.4,1.1,200.5,0.0,97.5

In [23]:
df1 = df1[['Region','Total Sown Area', 'Sown Area of Grain Crops','Cotton','Oil-bearing Crops','Fiber Crops',
                'Sugar Crops', 'Tobacco', 'Vegetables', 'Tea Plantations','Orchards']] # Choose certain columns
df2 = df1.copy(deep=True)
df1.head(5)

,Region,Total Sown Area,Sown Area of Grain Crops,Cotton,Oil-bearing Crops,Fiber Crops,Sugar Crops,Tobacco,Vegetables,Tea Plantations,Orchards
0,1,88.6,46.5,0.0,1.2,0.0,0.0,0.0,30.1,0.0,43.8
1,1,410.3,339.3,14.1,1.1,0.0,0.0,0.0,48.3,0.0,26.6
2,1,8132.7,6469.2,203.9,364.5,0.0,12.4,1.4,794.6,0.0,506.0
3,1,3524.4,3126.2,2.3,99.8,0.1,0.0,1.3,180.4,0.2,374.9
4,1,8885.0,6827.5,0.1,930.9,1.2,127.4,1.1,200.5,0.0,97.5

In [24]:
# Classes_Mapping
RegionEN_mapping = {  
            1: 'North Region',
            2: 'Northeast Region',
            3: 'East Region',
            4: 'Central South Region',
            5: 'Southwest Region',
            6: 'Northwest region'}  
df1['Region'] = df1['Region'].map(RegionEN_mapping)
df3 = df1.copy(deep=True)
df1.head(3)

,Region,Total Sown Area,Sown Area of Grain Crops,Cotton,Oil-bearing Crops,Fiber Crops,Sugar Crops,Tobacco,Vegetables,Tea Plantations,Orchards
0,North Region,88.6,46.5,0.0,1.2,0.0,0.0,0.0,30.1,0.0,43.8
1,North Region,410.3,339.3,14.1,1.1,0.0,0.0,0.0,48.3,0.0,26.6
2,North Region,8132.7,6469.2,203.9,364.5,0.0,12.4,1.4,794.6,0.0,506.0

In [30]:
df2.head(6)

,Region,Total Sown Area,Sown Area of Grain Crops,Cotton,Oil-bearing Crops,Fiber Crops,Sugar Crops,Tobacco,Vegetables,Tea Plantations,Orchards
0,1,88.6,46.5,0.0,1.2,0.0,0.0,0.0,30.1,0.0,43.8
1,1,410.3,339.3,14.1,1.1,0.0,0.0,0.0,48.3,0.0,26.6
2,1,8132.7,6469.2,203.9,364.5,0.0,12.4,1.4,794.6,0.0,506.0
3,1,3524.4,3126.2,2.3,99.8,0.1,0.0,1.3,180.4,0.2,374.9
4,1,8885.0,6827.5,0.1,930.9,1.2,127.4,1.1,200.5,0.0,97.5
5,2,4217.1,3488.7,0.0,293.5,0.0,2.4,5.0,312.1,0.0,352.7

In [38]:
List = []
Total = 0
for j in range(8):  # features
    for i in range(len(df2)): # regions
        if df2.iloc[i,0] == 6:
            Total = df2.iloc[i,j+3] + Total
    List.append(Total)
    Total =0
List

[2565.3, 963.8000000000001, 6.8, 64.1, 24.4, 1338.8, 157.5, 2499.2]

1: [220.4, 1397.5, 1.3, 139.8, 3.8, 1253.9, 0.2, 1048.8]
2: [0.0, 602.5, 21.4, 12.2, 23.5, 580.7, 0.0, 408.9]
3: [289.6, 2391.4, 5.9, 32.2, 89.5, 5528.2, 776.4, 2044.2]
4: [260.7, 4811.5, 10.2, 1093.8, 232.5, 7368.5, 788.5, 3859.4]
5: [3.3, 2758.7, 20.3, 268.2, 652.8, 4792.6, 1382.2, 2416.2]
6: [2565.3, 963.8, 6.8, 64.1, 24.4, 1338.8, 157.5, 2499.2]

In [40]:
list = [[220.4, 1397.5, 1.3, 139.8, 3.8, 1253.9, 0.2, 1048.8]
    ,[0.0, 602.5, 21.4, 12.2, 23.5, 580.7, 0.0, 408.9]
    ,[289.6, 2391.4, 5.9, 32.2, 89.5, 5528.2, 776.4, 2044.2]
    ,[260.7, 4811.5, 10.2, 1093.8, 232.5, 7368.5, 788.5, 3859.4]
    ,[3.3, 2758.7, 20.3, 268.2, 652.8, 4792.6, 1382.2, 2416.2]
    ,[2565.3, 963.8, 6.8, 64.1, 24.4, 1338.8, 157.5, 2499.2]]
type(list)

list

In [44]:
list = np.array(list)
type(list)
list

array([[2.2040e+02, 1.3975e+03, 1.3000e+00, 1.3980e+02, 3.8000e+00,
        1.2539e+03, 2.0000e-01, 1.0488e+03],
       [0.0000e+00, 6.0250e+02, 2.1400e+01, 1.2200e+01, 2.3500e+01,
        5.8070e+02, 0.0000e+00, 4.0890e+02],
       [2.8960e+02, 2.3914e+03, 5.9000e+00, 3.2200e+01, 8.9500e+01,
        5.5282e+03, 7.7640e+02, 2.0442e+03],
       [2.6070e+02, 4.8115e+03, 1.0200e+01, 1.0938e+03, 2.3250e+02,
        7.3685e+03, 7.8850e+02, 3.8594e+03],
       [3.3000e+00, 2.7587e+03, 2.0300e+01, 2.6820e+02, 6.5280e+02,
        4.7926e+03, 1.3822e+03, 2.4162e+03],
       [2.5653e+03, 9.6380e+02, 6.8000e+00, 6.4100e+01, 2.4400e+01,
        1.3388e+03, 1.5750e+02, 2.4992e+03]])

In [45]:
list.transpose()

array([[2.2040e+02, 0.0000e+00, 2.8960e+02, 2.6070e+02, 3.3000e+00,
        2.5653e+03],
       [1.3975e+03, 6.0250e+02, 2.3914e+03, 4.8115e+03, 2.7587e+03,
        9.6380e+02],
       [1.3000e+00, 2.1400e+01, 5.9000e+00, 1.0200e+01, 2.0300e+01,
        6.8000e+00],
       [1.3980e+02, 1.2200e+01, 3.2200e+01, 1.0938e+03, 2.6820e+02,
        6.4100e+01],
       [3.8000e+00, 2.3500e+01, 8.9500e+01, 2.3250e+02, 6.5280e+02,
        2.4400e+01],
       [1.2539e+03, 5.8070e+02, 5.5282e+03, 7.3685e+03, 4.7926e+03,
        1.3388e+03],
       [2.0000e-01, 0.0000e+00, 7.7640e+02, 7.8850e+02, 1.3822e+03,
        1.5750e+02],
       [1.0488e+03, 4.0890e+02, 2.0442e+03, 3.8594e+03, 2.4162e+03,
        2.4992e+03]])

In [46]:
from pyecharts import Polar

radius = ["North", "Northeast", "East", "Central South", "Southwest", "Northwest"]
polar = Polar("Polar", width=1200, height=600)
polar.add("Cotton",[2.2040e+02, 0.0000e+00, 2.8960e+02, 2.6070e+02, 3.3000e+00,2.5653e+03], radius_data=radius, type='barRadius', is_stack=True)
polar.add("Oil-bearing Crops",[1.3975e+03, 6.0250e+02, 2.3914e+03, 4.8115e+03, 2.7587e+03,9.6380e+02], radius_data=radius, type='barRadius', is_stack=True)
polar.add("Fiber Crops", [1.3000e+00, 2.1400e+01, 5.9000e+00, 1.0200e+01, 2.0300e+01,6.8000e+00], radius_data=radius, type='barRadius', is_stack=True)
polar.add("Sugar Crops", [1.3980e+02, 1.2200e+01, 3.2200e+01, 1.0938e+03, 2.6820e+02,6.4100e+01], radius_data=radius, type='barRadius', is_stack=True)
polar.add("Tobacco", [3.8000e+00, 2.3500e+01, 8.9500e+01, 2.3250e+02, 6.5280e+02,2.4400e+01], radius_data=radius, type='barRadius', is_stack=True)
polar.add("Vegetables",[1.2539e+03, 5.8070e+02, 5.5282e+03, 7.3685e+03, 4.7926e+03,1.3388e+03], radius_data=radius, type='barRadius', is_stack=True)
polar.add("Tea Plantations", [2.0000e-01, 0.0000e+00, 7.7640e+02, 7.8850e+02, 1.3822e+03,1.5750e+02], radius_data=radius, type='barRadius', is_stack=True)
polar.add("Orchards", [1.0488e+03, 4.0890e+02, 2.0442e+03, 3.8594e+03, 2.4162e+03,2.4992e+03], radius_data=radius, type='barRadius', is_stack=True)
polar.render()

In [47]:
df3.head()

,Region,Total Sown Area,Sown Area of Grain Crops,Cotton,Oil-bearing Crops,Fiber Crops,Sugar Crops,Tobacco,Vegetables,Tea Plantations,Orchards
0,North Region,88.6,46.5,0.0,1.2,0.0,0.0,0.0,30.1,0.0,43.8
1,North Region,410.3,339.3,14.1,1.1,0.0,0.0,0.0,48.3,0.0,26.6
2,North Region,8132.7,6469.2,203.9,364.5,0.0,12.4,1.4,794.6,0.0,506.0
3,North Region,3524.4,3126.2,2.3,99.8,0.1,0.0,1.3,180.4,0.2,374.9
4,North Region,8885.0,6827.5,0.1,930.9,1.2,127.4,1.1,200.5,0.0,97.5

In [59]:
from pyecharts import Bar

attr = ["North", "Northeast", "East", "Central South", "Southwest", "Northwest"]
v1 = [2.2040e+02, 0.0000e+00, 2.8960e+02, 2.6070e+02, 3.3000e+00,2.5653e+03]
v2 = [1.3975e+03, 6.0250e+02, 2.3914e+03, 4.8115e+03, 2.7587e+03,9.6380e+02]
v3 = [1.3000e+00, 2.1400e+01, 5.9000e+00, 1.0200e+01, 2.0300e+01,6.8000e+00]
v4 = [1.3980e+02, 1.2200e+01, 3.2200e+01, 1.0938e+03, 2.6820e+02,6.4100e+01]
v5 = [3.8000e+00, 2.3500e+01, 8.9500e+01, 2.3250e+02, 6.5280e+02,2.4400e+01]
v6=  [1.2539e+03, 5.8070e+02, 5.5282e+03, 7.3685e+03, 4.7926e+03,1.3388e+03]
v7 = [2.0000e-01, 0.0000e+00, 7.7640e+02, 7.8850e+02, 1.3822e+03,1.5750e+02]
v8 = [1.0488e+03, 4.0890e+02, 2.0442e+03, 3.8594e+03, 2.4162e+03,2.4992e+03]
bar = Bar("")
bar.add("Cotton", attr, v1, is_stack=True)
bar.add("Oil-bearing Crops", attr, v2, is_stack=True)
bar.add("Fiber Crops", attr, v3, is_stack=True)
bar.add("Sugar Crops", attr, v4, is_stack=True)
bar.add("Tobacco", attr, v5, is_stack=True)
bar.add("Vegetables", attr, v6, is_stack=True)
bar.add("Tea Plantations", attr, v7, is_stack=True)
bar.add("Orchards", attr, v8, is_stack=True)
bar.render()